/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.question-text {
	background-color: var(--background-primary);
	padding: 12px;
	border: 1px solid silver;
	border-radius: 4px;
	font-style: italic;
}

.possibleAnswer {
	border: 2px solid var(--background-modifier-border);
	border-radius: var(--radius-s);
	padding: 10px;

	&:hover {
		background-color: var(--interactive-hover);
	}
}

.possibleAnswer.selected {
	background-color: rgba(var(--color-blue-rgb), 0.5);
}

.possibleAnswer.correct {
	background-color: rgba(var(--color-green-rgb), 0.2);
}

.possibleAnswer.incorrect {
	background-color: rgba(var(--color-red-rgb), 0.2);
}

.separation-line {
	border-top: 2px solid var(--background-modifier-border);
}

/* DASHBOARD */

.dashboard-quizzes {
	display: flex;
	flex-direction: column;
	gap: 12px;
	overflow: auto;
}

.dashboard-empty-disclaimer {
	width: -webkit-fill-available;
	height: 500px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	justify-content: center;
}

.dashboard-item-container {
	border: 3px solid var(--background-modifier-border);
	border-radius: var(--radius-m);
	padding: 12px;
	background-color: var(--background-primary);
	box-shadow: 0 1px 2px var(--background-modifier-box-shadow);
	transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.dashboard-item-container:hover {
	border: 3px solid var(--interactive-hover);
}

.dashboard-item-last-score {
	background-color: rgba(var(--color-blue-rgb), 0.6);
	padding: 2px 10px;
	border-radius: 4px;
	font-style: normal;
}

.difficulty {
	border-radius: 4px;
	font-weight: bold;
	margin: 4px 0;
	width: max-content;
}

/* PRE-GENERATION MODAL */

.pre-gen-quiz-cost-estimate {
	margin-top: 16px;
}

.pre-gen-buttons-container {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	margin-top: 36px
}

.pre-gen-disclaimer {
	margin-top: 12px;
	font-size: 0.9em;
	color: var(--text-muted);
}


/* GENERIC STYLING SHORTCUTS */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-align-center {
	display: flex;
	align-items: center;
}

.flex-justify-end {
	display: flex;
	justify-content: flex-end;
}

.flex-justify-between {
	display: flex;
	justify-content: space-between;
}

.gap4 {
	gap: 4px
}

.gap6 {
	gap: 6px
}

.gap8 {
	gap: 8px
}

.m-20 {
	margin: 20px;
}

.ml-8 {
	margin-left: 8px;
}

.mt36 {
	margin-top: 36px;
}

.m-sides-20 {
	margin: 0 20px;
}

.p-sides-20 {
	padding: 0 20px;
}

.bg-purple {
	background-color: var(--color-purple);
}

.font-italic {
	font-style: italic;
}

