/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.question-text {
	background-color: var(--background-primary);
	padding: 12px;
	border: 1px solid silver;
	border-radius: 4px;
	font-style: italic;
}

.possibleAnswer {
	border: 2px solid var(--background-modifier-border);
	border-radius: var(--radius-s);
	padding: 10px;

	&:hover {
		background-color: var(--interactive-hover);
	}
}

.possibleAnswer.selected {
	background-color: rgba(var(--color-blue-rgb), 0.5);
}

.possibleAnswer.correct {
	background-color: rgba(var(--color-green-rgb), 0.2);
}

.possibleAnswer.incorrect {
	background-color: rgba(var(--color-red-rgb), 0.2);
}

.separation-line {
	border-top: 2px solid var(--background-modifier-border);
}

.stored-quiz-container {
	border: 3px solid var(--background-modifier-border);
	border-radius: var(--radius-m);
	padding: 12px;
	background-color: var(--background-primary);
	box-shadow: 0 1px 2px var(--background-modifier-box-shadow);
	transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.stored-quiz-container:hover {
	border: 3px solid var(--interactive-hover);
}

.quiz-grid {
	display: flex;
	flex-direction: column;
	gap: 12px;
	overflow: auto;
}

.difficulty {
	padding: 2px 10px;
	border-radius: 4px;
	font-weight: bold;
	margin: 4px 0;
	width: max-content;
}

.difficulty.extreme {
	background-color: rgba(var(--color-red-rgb), 0.8);
}

.difficulty.hard {
	background-color: rgba(var(--color-orange-rgb), 0.8);
}

.difficulty.medium {
	background-color: rgba(var(--color-yellow-rgb), 0.8);
	color: black;
}

.difficulty.easy {
	background-color: rgba(var(--color-green-rgb), 0.8);
}

.status {
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: italic;
}

.status.text {
	background-color: rgba(var(--color-blue-rgb), 0.6);
	padding: 2px 10px;
	border-radius: 4px;
	font-style: normal;
}

.empty-disclaimer {
	width: -webkit-fill-available;
	height: 500px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	justify-content: center;
}

